@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jumbotron img {
  border: 2px solid #fff;
  border-radius: 50%;
}

.btn {
  border: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn:hover {
  animation: flash;
  animation-duration: 1s;
}

.add-btn {
  background-color: #26c98a;
}

.add-btn:hover,
.add-btn:focus {
  background-color: #26c98a;
}

.delete-btn {
  background-color: #d90429;
}

.delete-btn:hover,
.delete-btn:focus {
  background-color: #d90429;
}

.list {
  width: 95%;
}

@media (min-width: 768px) {
  .list {
    width: 70%;
  }
}
